* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    outline: none;
}

body {

    background-color: #8A51FC;
    ;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    margin: 25px auto;
}

main {
    padding: 68px 24px 23px;
    background: #F4F4F4;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 375px;
    border-radius: 20px;
    margin: 25px auto;
}

label {
    color: #777;
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    display: block;
    margin-bottom: 25px;
}

select {
    border-radius: 4px;
    border: 1px solid #BBB;
    background: #FFF;
    width: 100%;
    height: 38px;
    margin-top: 5px;
    font-size: 13px;
    font-weight: 700;
    line-height: 18px;
    color: #555;
    padding-left: 4px;
    appearance: none;

}

select:hover {
    cursor: pointer;
}

input {
    border-radius: 4px;
    border: 1px solid #BBB;
    background: #FFF;
    width: 100%;
    height: 38px;
    flex-shrink: 0;
    font-size: 13px;
    font-weight: 700;
    line-height: 18px;
    color: #555;
    padding-left: 4px;

}



button {
    background: #772FD3;
    border-radius: 5px;
    width: 100%;
    height: 38px;
    border: none;
    color: #fff;

}

button:hover {
    cursor: pointer;
    opacity: 0.9;
}

button:active {
    opacity: 0.7;

}

.conversao {

    margin-top: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 16px;
    border: solid 1.5px #8A51FC;
    padding: 16px
}

.real {
    width: 48px;
    height: 48px;
    margin-top: 16px;
}

.style-dolar .style-real .resultado-dolar .resultado-real {
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    color: #777;
    margin-bottom: 3px;
}

p {
    font-size: 20px;
    font-weight: 700;
    line-height: 23px;
    color: #333;
    margin-top: 8px;
    margin-bottom: 9px;
}

.img-dolar {
    width: 48px;
    height: 48px;
    margin-top: 16px;

}